@model EniProjetMvc.Models.IndexViewModel
@{
    ViewBag.Title = "Gérer";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Changer les paramètres de votre compte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Changer votre mot de passe", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Créer", "SetPassword")
            }
            ]
        </dd>
        <dt>Adresse :</dt>
        <dd>@Model.Adresse <small><a href="" id="editAdresse">[Modifier]</a></small></dd>
        <dd>
            <div class="input-group input-group-sm input-adr hidden">
                <input type="text" name="adresse" value="@Model.Adresse" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-flat"><i class="fa fa-check"></i></button>
                </span>
            </div>
        </dd>
    </dl>
</div>
<script type="text/javascript">
    $(function () {
        $('#editAdresse').on('click', function (e) {
            e.preventDefault();
            $('.input-adr').removeClass('hidden');
        });
        $('.input-adr button[type="button"]').on('click', function () {
            var adr = $('.input-adr input[name="adresse"]').val();
            if (adr != "") {
                $.ajax({
                    url: '@Url.Action("UpdateAdresse", "Manage")',
                    method: 'post',
                    data: { adresse :  adr }
                }).done(function (response) {
                    if (response.Error) {
                        $.notify("Une erreur s'est produite lors de la mise à jour de l'adresse", "warn");
                    } else {
                        window.location.reload();
                    }
                });
            } else {
                $('.input-adr input[name="adresse"]').parent().addClass('has-error');
            }
        });
    });
</script>
