@using EniProjetMvc.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Evenement MVC</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="hold-transition skin-black fixed">
    <div class="wrapper" id="wrapped-content">
        <div id="top-content"></div>
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>E</b>MVC</span>
                <span class="logo-lg"><b>Evenement</b>TP</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Evenements", "Index", "Evenements")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </nav>
        </header>

        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->

        @{ 
            var hasHeader = ViewBag.Title != null && ViewBag.Title != "" ? "" : "hidden-header";

        }

        <section class="content-header @hasHeader">
            <div class="btn-nav">
                @if (ViewBag.btnNav != null && ViewBag.btnNav.Count > 0)
                {
                    foreach (BtnNav item in ViewBag.btnNav)
                    {
                        <a href="@item.Url" class="btn btn-sm btn-@item.Color"><i class="@item.Icone"></i> @item.Text</a>
                    }
                }
            </div>
            <h1>
                @ViewBag.Title
            </h1>
        </section>

        <!-- Main content -->
        <section class="content @ViewBag.ClassIndex">
            @RenderBody()
        </section>
        <!-- /.content -->

        <a href="#top-content" class="back-to-top hidden"><i class="fa fa-arrow-circle-up fa-3x"></i></a>
        <!-- /.content-wrapper -->
        @if (ViewBag.hideFooter == null)
        {
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 0.0.1
                </div>
                <strong>TP MVC Evenement.</strong>
            </footer>
        }

    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte")
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                $('.back-to-top').removeClass('hidden');
            } else {
                $('.back-to-top').addClass('hidden');
            }
        }

        $(function () {
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy'
            });
            $('.timepicker').clockpicker({
                donetext: 'Ok',
                autoclose: true,
            });

        });
    </script>
</body>
</html>