@using EniProjetMvc.Extensions
@model EniProjetMvc.Models.EvenementVM

@{
    ViewBag.Title = "Create";
    var mode = Model.Evenement == null;
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Evenement.Id)
        
        @Html.WidgetFor(model => model.Evenement.Intitule)
        @Html.DateWidgetFor(model => model.Evenement.DateDebut)
        @Html.DateWidgetFor(model => model.Evenement.DateFin)
        @Html.WidgetFor(model => model.Evenement.Duree)
        @Html.TimeWidgetFor(model => model.Evenement.HeureOuverture)
        @Html.TimeWidgetFor(model => model.Evenement.HeureFermeture)
        @Html.WidgetFor(model => model.Evenement.Adresse)
        
        @Html.DropDownWidgetFor(model => model.Evenement.Theme, model => model.selectedTheme, Model.Themes.Select(o => new SelectListItem { Value = o.Id.ToString(), Text = o.Libelle, Selected = o.Id == Model.selectedTheme }))
        <div class="form-group">
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-default btn-sm btn-quickTheme"><i class="fa fa-plus"></i> Ajouter un thème</button>
            </div>
            <div class="col-md-8">
                <div id="quickTheme" class="hidden">
                    <label>Libellé</label>
                    <input class="form-control input-sm" type="text" />
                    <button id="addTheme" type="button">Ajouter</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Evenement.Statut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Evenement.Statut, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Evenement.Statut, "", new { @class = "text-danger" })
            </div>
        </div>

            @Html.SubmitWidget(Html.ModeWidgetLabels(mode).ToString(), "default")

        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    $(function () {
        $('.btn-quickTheme').on('click', function () {
            $('#quickTheme').removeClass('hidden');
        });
        $('#addTheme').on('click', function () {
            var lib = $('#quickTheme input[type="text"]').val();
            var datas = { libelle: lib };
            $.ajax({
                url: '@Url.Action("AjaxQuickCreate", "Themes")',
                method: 'post',
                data : datas
            }).done(function (response) {
                console.log(response);
                if (response.list) {
                    var html = '';
                    $.each(response.list, function (index, data) {
                        html += '<option value="' + data.Id + '">' + data.Libelle + '</option>';
                    });
                    $('#selectedTheme').html(html);
                    $('#quickTheme input[type="text"]').val('');
                    $('#quickTheme').addClass('hidden');
                }
            }).fail(function (response) {
                $.notify('Une erreur s\'est produite lors de la création du thème', 'danger');
            })
        });
    });

</script>
