@using EniProjetMvc.Utils
@model BO.Evenement

@{
    ViewBag.Title = "Details";
}

<div class="box">
    <div class="box-header with-border">
       @Html.DisplayFor(model => model.Intitule)
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DateDebut)</td>
                    <td>@Model.DateDebut.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DateFin)</td>
                    <td>@Model.DateFin.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Duree)</td>
                    <td>@Html.DisplayFor(model => model.Duree)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.HeureOuverture)</td>
                    <td>@Html.DisplayFor(model => model.HeureOuverture)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.HeureFermeture)</td>
                    <td>@Html.DisplayFor(model => model.HeureFermeture)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Adresse)</td>
                    <td>@Html.DisplayFor(model => model.Adresse)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Statut)</td>
                    <td>@EnumerationUtil.Instance.getLabelStatut(Model.Statut)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="box">
        <div class="box-header with-border">
            Parkings
        </div>
        <div class="box-body">
            <div id="parking">
                <div class="form-group">
                    <input class="form-control" id="adresse-utilisateur" type="text" placeholder="Adresse de départ" />
                </div>
                <div class="form-control">
                    <button class="btn btn-sm btn-default">Rechercher</button>
                </div>
                <div class="row">
                    @RenderPage("~/Views/Evenements/Parking.cshtml")
                    @RenderPage("~/Views/Evenements/Parking.cshtml")
                    @RenderPage("~/Views/Evenements/Parking.cshtml")
                </div>
            </div>
        </div>



    </div>

