@model IEnumerable<BO.Evenement>

@{
    ViewBag.Title = "Liste des événements";
}

<h2>Liste des événements</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a class="btn btn-sm btn-success" href="@Url.Action("Create", "Evenements")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nouvel évenement</a>
    </p>
}

<p id="liste-evenements">
  
</p>

 <!-- Modal -->
<div class="modal fade modal-lg" id="detailModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Détail de l'événement</h4>
            </div>
            <div class="modal-body">
               <div id="event-detail-modal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    $(function () {
        $.ajax({
            url: '@Url.Action("AjaxListe", "Evenements")',
            type: 'GET',
            dataType: 'json',
        }).done(function (response) {
            $('#liste-evenements').html(response.Html);
        }).fail(function (response) {
            swal("Une erreur est survenue lors du rechargement de la page", {
                icon: "error",
            });
            console.log(response);
        });
    });

    function deleteEvent(id){
        swal({
            title: "Confirmation",
            text: "Voulez-vous annuler l'événement numéro " + id + " ?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '@Url.Action("AjaxDelete", "Evenements")' + '/' + id,
                    type: 'GET',
                    dataType: 'json',
                }).done(function (response) {
                    if (!response.error) {
                        $.ajax({
                            url: '@Url.Action("AjaxListe", "Evenements")',
                            type: 'GET',
                            dataType: 'json',
                        }).done(function (response) {
                            $('#liste-evenements').html(response.Html);
                            $.notify("Événement annulé", "success");
                        }).fail(function (response) {
                            $.notify("Une erreur est survenue lors du rechargement de la page", "error");
                            console.log(response);
                        });
                    }
                    else {
                        $.notify("Une erreur est survenue lors de la suppression", "error");
                        console.log(response);
                    }
                });
               
                
            } else {
                //ne rien faire
            }
        });
    }

    function detailEvent(id) {
        $('#event-detail-modal').html('<i class="fa fa-cog fa-spin  fa-2x fa-fw"></i> chargement...');
        $.ajax({
            url: '@Url.Action("AjaxDetails", "Evenements")' + '/' + id,
            type: 'GET',
            dataType: 'json'
        }).done(function (response) {
            $('#event-detail-modal').html(response.Html);
            

        }).fail(function (response) {
            $('#event-detail-modal').html('<div class="alert alert-danger">Une erreur s\'est produite lors du chargement des données</div>');
            console.log(response);
        });
    }

</script>

