@using BO
@using EniProjetMvc.Utils
@model IEnumerable<BO.Evenement>
@{
    ViewBag.Title = "ListOrganizer";
}




<div id="ListEventOrganizer">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
               @{string firstImageLink = item.Images != null && item.Images.Count() > 0 ? item.Images.First().Url : "DefaultImage"; }
                <div class="small-box" style="background-image:url(@(firstImageLink)); background-size: cover;">
                    <p>
                        
                        @if(item.Statut == StatutEvenement.EN_COURS){
                        <span class="label label-success">
                            @EnumerationUtil.Instance.getLabelStatut(item.Statut)
                        </span>
                        }
                        else{
                        <span class="label label-info">
                            @EnumerationUtil.Instance.getLabelStatut(item.Statut)
                        </span>
                        }
                       
                    </p>
                    <p style="padding-top:120px;"></p>
                    <h4>@item.Intitule</h4>
                    <p class="small-box-footer">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                       <!-- @Html.ActionLink("Details", "Details", new { id = item.Id }) | --> 
                       <!-- @Html.ActionLink("Delete", "Delete", new { id = item.Id }) -->
                        <button type="button" class="btn btn-info btn-lg" onclick="detailEvent(@item.Id)" data-toggle="modal" data-target="#detailModal">Détails</button>
                        <button type="button" class="btn btn-danger btn-lg" onclick="deleteEvent(@item.Id)">Annuler</button>
                    </p>
                </div>
            </div>
                


        }
    </div>
   

</div>



