@using BO
@using EniProjetMvc.Utils
@model IEnumerable<BO.Evenement>
@{
    ViewBag.Title = "ListOrganizer";
    string firstImageLink = "";
}




<div id="ListEventOrganizer">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-3 evenement">
                @{
                    bool showAllBtn = item.Statut != StatutEvenement.ANNULE && item.Statut != StatutEvenement.ARCHIVE && User.Identity.IsAuthenticated && User.IsInRole("admin");
                    var colLength = showAllBtn ? "33.33%" : "100%";
                }

                @{ firstImageLink = item.Images != null && item.Images.Count() > 0 ? item.Images.First().Url : "/Content/images/default.png"; }
                <div class="small-box event-item" style="background-image:url(@(firstImageLink));">
                    <p>

                        @if (item.Statut == StatutEvenement.EN_COURS)
                        {
                            <span class="label label-success">
                                @EnumerationUtil.Instance.getLabelStatut(item.Statut)
                            </span>
                        }
                        else if (item.Statut == StatutEvenement.ANNULE)
                        {
                            <span class="label label-warning">
                                @EnumerationUtil.Instance.getLabelStatut(item.Statut)
                            </span>
                        }
                        else if (item.Statut == StatutEvenement.ARCHIVE)
                        {
                            <span class="label label-default">
                                @EnumerationUtil.Instance.getLabelStatut(item.Statut)
                            </span>
                        }
                        else {
                            <span class="label label-info">
                                @EnumerationUtil.Instance.getLabelStatut(item.Statut)
                            </span>
                        }

                    </p>
                    <p onclick="detailEvent(@item.Id)" data-toggle="modal" data-target="#detailModal"></p>
                </div>
                <h4>@item.Intitule</h4>
                <div class="small-box-footer btn-liste-footer">
                    <button style="width: @colLength" type="button" class="btn btn-sm btn-primary" onclick="detailEvent(@item.Id)" data-toggle="modal" data-target="#detailModal"><i class="fa fa-eye" aria-hidden="true"></i> Détails</button>
                    @if (showAllBtn)
                    {
                        <button style="width: @colLength" type="button" class="btn btn-sm btn-dark-warning" onclick="redirectAction(this)" data-href="@Url.Action("Edit", "Evenements")/@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>
                        <button style="width: @colLength" type="button" class="btn btn-sm btn-dark-danger" onclick="deleteEvent(this)" data-id="@item.Id" data-name="@item.Intitule"><i class="fa fa-times" aria-hidden="true"></i> Annuler</button>
                    }
                </div>

            </div>



                    }
    </div>


</div>
