@using BO
@using EniProjetMvc.Extensions
@model IEnumerable<BO.Evenement>
@{
    ViewBag.Title = "ListOrganizer";
    string firstImageLink = "";
}


<div id="filter-event">
    <form id="filter-form">
        <div class="row">
            <div class="col-md-3">
                <label for="search" class="label label-default">Rechercher un événement</label>
                <input name="search" id="search" class="form-control" placeholder="Rechercher..." type="text">
            </div>
            <div class="col-md-3">
                <label for="theme" class="label label-default bg-purple uppercase" >Thème</label>
                <select name="theme" id="theme" class="form-control">
                    <option value="" selected></option>
                    @foreach(var item in ViewBag.listTheme)
                    {
                        <option value="@item.Id">@item.Libelle</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label for="statut" class="label label-success">Statut</label>
                <select name="statut" id="statut" class="form-control">
                    <option value="" selected></option>
                    @foreach (StatutEvenement item in Enum.GetValues(typeof(StatutEvenement)))
                    {
                        <option value="@item" class="label label-@StatutEvenementUtil.GetStatutEvenementColor(item)">@StatutEvenementUtil.Instance.getLabelStatut(item)</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-info pull-right" type="button" id="filter-action"><i class="fa fa-search"></i> Filtrer</button>
            </div>
        </div>
    </form>
</div>

<div id="ListEventOrganizer">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-3 evenement">
                @{
                    bool showAllBtn = item.Statut != StatutEvenement.ANNULE && item.Statut != StatutEvenement.ARCHIVE && User.Identity.IsAuthenticated && User.IsInRole("admin");
                    var colLength = showAllBtn ? "33.33%" : "100%";
                }

                @{ firstImageLink = item.Images != null && item.Images.Count() > 0 ? item.Images.First().Url : "/Content/images/default.png"; }
                <div class="small-box event-item" style="background-image:url(@(firstImageLink));">
                    <p>
                        <span class="label label-@StatutEvenementUtil.GetStatutEvenementColor(item.Statut)">
                            @StatutEvenementUtil.Instance.getLabelStatut(item.Statut)
                        </span>
                        <span class="label label-default bg-purple pull-right uppercase">
                            @item.Theme.Libelle
                        </span>
                    </p>
                    <p onclick="detailEvent(@item.Id)" data-toggle="modal" data-target="#detailModal"></p>
                </div>
                <h4>@item.Intitule</h4>
                <div class="small-box-footer btn-liste-footer">
                    <button style="width: @colLength" type="button" class="btn btn-sm btn-primary" onclick="detailEvent(@item.Id)" data-toggle="modal" data-target="#detailModal"><i class="fa fa-eye" aria-hidden="true"></i> Détails</button>
                    @if (showAllBtn)
                    {
                        <button style="width: @colLength" type="button" class="btn btn-sm btn-dark-warning" onclick="redirectAction(this)" data-href="@Url.Action("Edit", "Evenements")/@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>
                        <button style="width: @colLength" type="button" class="btn btn-sm btn-dark-danger" onclick="deleteEvent(this)" data-id="@item.Id" data-name="@item.Intitule"><i class="fa fa-times" aria-hidden="true"></i> Annuler</button>
                    }
                </div>

            </div>



                    }

        @if (Model.Count() == 0)
        {
            <div class="alert alert-warning">Aucun événement à afficher</div>
        }
    </div>


</div>
