@using Microsoft.AspNet.Identity;
<div class="modal fade" id="detailModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Détail de l'événement</h2>
            </div>
            <div class="modal-body">
                <div id="event-detail-modal"></div>
            </div>
            <input type="hidden" id="eventId" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Fermer</button>
                <button type="button" class="btn btn-success hidden" id="inscription"><i class="fa fa-address-book-o" aria-hidden="true"></i> S'inscrire</button>
                <button type="button" class="btn btn-danger hidden" id="desinscription"><i class="fa fa-address-book-o" aria-hidden="true"></i> Se désinscrire</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByNxF6boskqziz8hWVjBuTJhXCPYlOsfE&sensor=false">
</script>

@Scripts.Render("~/bundles/parking")

<script type="text/javascript">
    var DepartMarker = null;
    var RouteControl = null;
    var mymap = null;
    var detailsEvent = null;
    var parkingList = null;
    function leafleftMap(Adresse) {
        
        var geocoder = new google.maps.Geocoder();
        var address = Adresse;
        geocoder.geocode({ 'address': address }, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                mymap = L.map('mapid').setView([latitude, longitude], 13);
                L.tileLayer.provider('OpenStreetMap.France').addTo(mymap);
                var marker = L.marker([latitude, longitude]).addTo(mymap);
                marker.bindPopup("<b>"+ Adresse +"</b>").openPopup();
            }
        });

    }

    function detailEvent(id) {
        $('#eventId').val(id);
        $('#event-detail-modal').html('<i class="fa fa-cog fa-spin  fa-2x fa-fw"></i> chargement...');
        $.ajax({
            url: '@Url.Action("AjaxDetails", "Evenements")' + '/' + id,
            type: 'GET',
            dataType: 'json'
        }).done(function (response) {
            $('#event-detail-modal').html(response.Html);

            if (response.InscriptionOuverte) {
                if (response.Inscrit) {
                    $('#desinscription').removeClass('hidden');
                    $('#inscription').addClass('hidden');
                } else {
                    $('#inscription').removeClass('hidden');
                    $('#desinscription').addClass('hidden');
                }

                $('#inscription').removeClass('disabled');
                $('#desinscription').removeClass('disabled');
                $('#adresse-utilisateur').removeAttr('disabled');
                $('#bouton-parking').removeAttr('disabled');
                
            } else {
                $('#inscription').addClass('hidden');
                $('#desinscription').addClass('hidden');
                $('#adresse-utilisateur').attr('disabled', 'disabled');
                $('#bouton-parking').attr('disabled', 'disabled');
            }

            detailsEvent = response;
            leafleftMap(response.Adresse);
            // Pré-remplis les champs avec l'utilisateur connecté
            if (response.UserAdresse) {
                $('#adresse-utilisateur').val(response.UserAdresse);
            }
        }).fail(function (response) {
            $('#event-detail-modal').html('<div class="alert alert-danger">Une erreur s\'est produite lors du chargement des données</div>');
            console.log(response);
        });
    }

    function loadParkingList(latDep, longDep, latArriv, longArriv) {
        if (detailsEvent !== null) {
            try {
                // Récupère le contenus html des parkings
                $('#list-parking').html('<i class="fa fa-spinner fa-spin"></i> Chargement...');
                $.ajax({
                    url: '/Content/template/Parking.html',
                    method: 'get'
                }).done(function (response) {
                    var parking = new ParkingLocalizer(latDep, longDep, latArriv, longArriv, 'http://data.citedia.com/r1/parks');
                    parking.init(detailsEvent.HeureOuverture, detailsEvent.HeureFermeture, detailsEvent.Duree, function (parkings) {
                        parkingList = parkings;
                        var strHtml = '';
                        $('#list-parking').html('');
                        var parkingIcon = L.icon({
                            iconUrl: '/Content/images/icon-parking.png',
                            iconSize: [32, 32],
                            iconAnchor: [16, 37],
                            popupAnchor: [0, -28]
                        });
                        var geoData = null;

                        $.each(parkings, function (index, data) {
                            var template = response;
                            template = template.replace('{adresse}', data.id);
                            template = template.replace('{nbplace}', data.parkInformation.free);
                            template = template.replace('{nbplacetotal}', data.parkInformation.max);

                            var tarifs = "Inconnus";
                            if (typeof data.tarifsBrut != 'undefined' && data.tarifsBrut.Tarifs !== null) {
                                tarifs = data.tarifsBrut.Tarifs.replace(/\/\//g, '<br/>');
                            }
                            template = template.replace('{tarif}', tarifs);
                            var coutestime = data.coutEstime ? data.coutEstime + '€' : 'Inconnus';
                            template = template.replace('{coutestime}', coutestime);
                            var iDiv = document.createElement('div');
                            iDiv.id = 'parking-'+data.id;
                            $('#list-parking').append(iDiv);
                            $('#parking-' + data.id).html(template);

                            L.geoJSON(data.features, {
                                pointToLayer: function (feature, latlng) {
                                    return L.marker(latlng, { icon: parkingIcon });
                                }
                            }).addTo(mymap);
                            if (geoData === null && data.features.geometry !== null) {
                                geoData = { lat: data.features.geometry.coordinates[1], long: data.features.geometry.coordinates[0] };
                            }
                        });
                        if (RouteControl !== null) {
                            RouteControl.spliceWaypoints(0, 2);
                            $('.leaflet-routing-container').remove();
                        }
                        RouteControl = new L.Routing.control({
                            waypoints: [
                                L.latLng(latDep, longDep),
                                L.latLng(geoData.lat, geoData.long)
                            ],
                            createMarker: function (i, wp) {
                                return null;
                            },
                            routeWhileDragging: false
                        }).addTo(mymap)
                        .on('routingerror', function (e) {
                            $.notify("impossible d'établir l'itinéraire", "error");
                        });
                    
                    });

                }).fail(function (response) {
                    $.notify('Une erreur s\'est produite lors du chargement des parkings', 'warn');
                });
            }catch(e){
                $.notify(e, 'warn');
            }
        } else {
            console.error('loadParkingList doit être appelé après le chargement des détails');
        }
    }

    function searchParking() {
        $('#bouton-parking').off('click');
        $('#bouton-parking').on('click', function () {
            var AdresseEvenement = $('#bouton-parking').data('adresse');

            var AdresseUtilisateur = $('#adresse-utilisateur').val();

            var geocoder = new google.maps.Geocoder();

            var latEvent = null;
            var lngEvent = null;
            var latDepart = null;
            var lngDepart = null;

            geocoder.geocode({ 'address': AdresseUtilisateur }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    latDepart = results[0].geometry.location.lat();
                    lngDepart = results[0].geometry.location.lng();
                    if (mymap != null) {
                        if (DepartMarker != null) {
                            mymap.removeLayer(DepartMarker)
                        }
                        DepartMarker = L.marker([latDepart, lngDepart]).addTo(mymap);
                        DepartMarker.bindPopup("<b>"+AdresseUtilisateur+"</b>").openPopup();
                    }

                    geocoder.geocode({ 'address': AdresseEvenement }, function (results, status) {

                        if (status == google.maps.GeocoderStatus.OK) {
                            latEvent = results[0].geometry.location.lat();
                            lngEvent = results[0].geometry.location.lng();

                            if (latDepart != null && lngDepart != null && latEvent != null && lngEvent != null) {
                                loadParkingList(latDepart, lngDepart, latEvent, lngEvent);
                            }
                            else {
                                $.notify("une erreur est survenu lors de la récuperation des adresses", "error");
                            }
                        }
                        else {
                            $.notify("L'adresse de l'événement est incorect", "error");
                        }
                    });
                }
                else {
                    $.notify("Adresse de départ incorect", "error");
                }
            });
        });
    }

    function renderRegisterModal(HtmlLogin, HtmlRegister) {
        var content =
            '<div class="nav-tabs-custom">'
                + '<ul class="nav nav-tabs">'
                    + '<li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Connexion</a></li>'
                    + '<li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Inscription</a></li>'
                + '</ul>'
                + '<div class="tab-content">'
                    + '<div class="tab-pane active" id="tab_1">'
                        + '<h3>connexion</h3>'
                        + HtmlLogin
                    + '</div>'
                    + '<div class="tab-pane" id="tab_2">'
                        + '<h3>Inscription</h3>'
                        + HtmlRegister
                    + '</div>'
                + '</div>'
            + '</div>'
        $('#event-detail-modal').html(content);
    }

    function loginModal(e) {
        e.preventDefault();
        var dataForm = $('#tab1 form').serialize();
        $.ajax({
            url: '@Url.Action("AjaxLoginRender","Account")',
            method: 'post',
            data: {
                'model' : dataForm
            },
        }).done(function (response) {
            console.log(response);
        }).fail(function (result) {
            console.log(result);
        });
    }

    $('#inscription').on('click', function () {
        if (!$(this).hasClass('disabled')) {
            $(this).addClass('disabled');
            var self = this;
            var isAuth = '@User.Identity.IsAuthenticated';
            console.log(isAuth);
            var eventId = $('#eventId').val();
            var datas = { idEvenement: eventId };
            if (isAuth == 'true') { // Inscrit l'utilisateur courrant
                var userId = '@User.Identity.GetUserId()';
                $.ajax({
                    url: '@Url.Action("AjaxInscription", "Evenements")',
                    method: 'post',
                    data: datas
                }).done(function (response) {
                    if (!response.Error) {
                        $.notify('Vous avez bien été inscrit à cet événement', 'success');
                        $(self).addClass('hidden');
                        $(self).removeClass('disabled');
                        $('#desinscription').removeClass('hidden');
                    } else {
                        $.notify('Une erreur s\'est produite lors de l\'inscription', 'warn');
                        $(this).removeClass('disabled');
                    }
                }).fail(function (response) {
                    $.notify('Une erreur s\'est produite lors de l\'inscription', 'warn');
                    $(this).removeClass('disabled');
                    console.log(response);
                });
            } else { // demande connexion / inscription
                $.ajax({
                    url: '@Url.Action("AjaxLoginRender", "Account")',
                    data: 'json',
                }).done(function (response) {
                    var login = response.Html
                    $.ajax({
                        url: '@Url.Action("AjaxRegisterRender", "Account")',
                    }).done(function (response) {
                        renderRegisterModal(login, response.Html);

                        $("#tab_1 button").off("submit");
                        $("#tab_1 button").on("submit", function (e) {
                            loginModal(e);
                        });

                    }).fail(function () {
                        $.notify("un problème est survenu lors de l'inscription", "error");
                        console.log(response);
                    });
                    $("#event-detail-modal").html();
                }).fail(function (response) {
                    $.notify("un problème est survenu lors de l'inscription", "error");
                    console.log(response);
                });
            }
        }
    });

    $('#desinscription').on('click', function () {
        if (!$(this).hasClass('disabled')) {
            $(this).addClass('disabled');
            var self = this;
            var isAuth = '@User.Identity.IsAuthenticated';
            var eventId = $('#eventId').val();
            var datas = { idEvenement: eventId };
            $.ajax({
                url: '@Url.Action("AjaxDesinscription", "Evenements")',
                method: 'post',
                data: datas
            }).done(function (response) {
                if (!response.Error) {
                    $.notify('Vous avez bien été désinscrit de cet événement', 'success');
                    $(self).addClass('hidden');
                    $(self).removeClass('disabled');
                    $('#inscription').removeClass('hidden');
                    if (typeof loadListEvents == 'function') {
                        loadListEvents();
                    }
                } else {
                    $.notify('Une erreur s\'est produite lors de la désinscription', 'warn');
                    $(self).removeClass('disabled');
                }
            }).fail(function (response) {
                $.notify('Une erreur s\'est produite lors de la désinscription', 'warn');
                $(this).removeClass('disabled');
                console.log(response);
            });
        }
    });

</script>
